In [1]:
import pandas as pd

data = pd.read_csv("resources/air.csv")
data.head()

,Temperature,Humidity,PM2.5,PM10,NO2,SO2,CO,Proximity_to_Industrial_Areas,Population_Density,Air Quality
0,29.8,59.1,5.2,17.9,18.9,9.2,1.72,6.3,319,Moderate
1,28.3,75.6,2.3,12.2,30.8,9.7,1.64,6.0,611,Moderate
2,23.1,74.7,26.7,33.8,24.4,12.6,1.63,5.2,619,Moderate
3,27.1,39.1,6.1,6.3,13.5,5.3,1.15,11.1,551,Good
4,26.5,70.7,6.9,16.0,21.9,5.6,1.01,12.7,303,Good

In [3]:
data = data.drop(["PM10", "Air Quality"], axis=1)
data.head()

,Temperature,Humidity,PM2.5,NO2,SO2,CO,Proximity_to_Industrial_Areas,Population_Density
0,29.8,59.1,5.2,18.9,9.2,1.72,6.3,319
1,28.3,75.6,2.3,30.8,9.7,1.64,6.0,611
2,23.1,74.7,26.7,24.4,12.6,1.63,5.2,619
3,27.1,39.1,6.1,13.5,5.3,1.15,11.1,551
4,26.5,70.7,6.9,21.9,5.6,1.01,12.7,303

In [5]:
features = data.columns
features

Index(['Temperature', 'Humidity', 'PM2.5', 'NO2', 'SO2', 'CO',
       'Proximity_to_Industrial_Areas', 'Population_Density'],
      dtype='object')

In [6]:
# max and min values
for feature in features:
    min = data[feature].min()
    max = data[feature].max()
    print(
        f"{feature}: min: {min}, max: {max}"
    )

Temperature: min: 13.4, max: 58.6
Humidity: min: 36.0, max: 128.1
PM2.5: min: 0.0, max: 295.0
NO2: min: 7.4, max: 64.9
SO2: min: -6.2, max: 44.9
CO: min: 0.65, max: 3.72
Proximity_to_Industrial_Areas: min: 2.5, max: 25.8
Population_Density: min: 188, max: 957